@font-face {
  font-family: Raleway-Black;
  src: url(../fonts/raleway/Raleway-Black.ttf);
}
@font-face {
  font-family: Raleway-SemiBold;
  src: url(../fonts/raleway/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: Raleway-Bold;
  src: url(../fonts/raleway/Raleway-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364)
}
body,
html {
  height: 100%;
  font-family: Raleway-SemiBold, sans-serif;
}
a {
  font-family: Raleway-SemiBold;
  font-size: 16px;
  line-height: 1.7;
  color: #666;
  margin: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
a:focus {
  outline: none !important;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  font-family: Raleway-SemiBold;
  font-size: 16px;
  line-height: 1.7;
  color: #666;
  margin: 0;
}
ul,
li {
  margin: 0;
  list-style-type: none;
}
input {
  outline: none;
  border: none;
}
textarea {
  outline: none;
  border: none;
}
textarea:focus,
input:focus {
  border-color: transparent !important;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
input::-webkit-input-placeholder {
  color: #adadad;
}
input:-moz-placeholder {
  color: #adadad;
}
input::-moz-placeholder {
  color: #adadad;
}
input:-ms-input-placeholder {
  color: #adadad;
}
textarea::-webkit-input-placeholder {
  color: #adadad;
}
textarea:-moz-placeholder {
  color: #adadad;
}
textarea::-moz-placeholder {
  color: #adadad;
}
textarea:-ms-input-placeholder {
  color: #adadad;
}
button {
  border: none;
  background: 0 0;
}
button:hover {
  cursor: pointer;
}

button:disabled {
  background-color:#adadad !important;
  cursor: not-allowed !important;
}

button.addminus{
  display:block;
  text-align:left;
  width: 100%;
  padding:10px;
  margin-bottom:6px;
  font-family: "Raleway-Bold";
  font-size:16px;
  color: #fff;
  background-color: #000000; /* default to be overridden */
  border:none; 
  border-radius: 5px;
}
button.addminus img{
  width:8%;
  vertical-align: middle;
}
button.addminus strong{
  font-size:large;
}
div.addminus-button-group {
  margin-bottom: 35px;
}

button.add{background-color: #4CAF50}
button.minus{background-color: #fb3b1e}

button.add:hover {background-color: #3e8e41;}
button.add:active {background-color: #3e8e41;}

button.minus:hover {background-color: #c61a09;}
button.minus:active {background-color: #c61a09;}




iframe {
  border: none !important;
}
.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.wrap {
  min-width: 70%;
  max-width: 960px;
  min-height: calc(100vh - 60px);
  background: #fff;
  border-radius: 5px;
  padding: 30px 115px 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrap #content {
  flex: 1
}

.form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title {
  display: block;
  width: 100%;
  font-family: Raleway-Black;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 32px;
}
.subtitle {
  display: block;
  width: 100%;
  font-family: Raleway-SemiBold;
  font-size: 18px;
  color: #333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 16px;
}
.subsubtitle {
  display: block;
  width: 100%;
  font-family: Raleway-SemiBold;
  font-size: 14px;
  color: #333;
  line-height: 1.2;
  text-align: left;
  padding-top: 5px;
}
.wrap-input {
  width: 100%;
  position: relative;
  background-color: transparent;
  margin-bottom: 35px;
}
.rs1-wrap-input {
  width: calc((100% - 30px) / 2);
}
.label-input {
  font-family: Raleway-SemiBold;
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}
.input {
  display: block;
  width: 100%;
  background: #f2f2f2;
  border-radius: 5px;
  font-family: Raleway-SemiBold;
  font-size: 20px;
  color: #686868;
  line-height: 1.2;
  padding: 0 28px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  margin-top: 10px;
}
input.input {
  height: 62px;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox-label {
  cursor: pointer;
}

.flex-checkbox {
  display: flex;
}

textarea.input {
  min-height: 162px;
  padding-top: 19px;
  padding-bottom: 13px;
}
.input:focus {
  background: #e6e6e6;
}
.container-form-button {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}
.wrap-form-button {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
}
.form-button-background {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #df2351;
  background: -webkit-linear-gradient(
    right,
    #2f91ff,
    #00c513,
    #2f91ff,
    #00c513
  );
  background: -o-linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
  background: -moz-linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
  background: linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.form-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 62px;
  font-family: Raleway-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  font-size: 25px;
}
.wrap-form-button:hover .form-button-background {
  left: 0;
}
#form #submitsection {
  width:100%;
  text-align:center;
}
#form #submit-button {
  padding: 10px;
  width: 50%;
  color: white;
  background-color: #2939c2;
  border: none;
  border-radius: 5px;

  padding: 0 20px;
  min-width: 150px;
  height: 62px;
  font-family: Raleway-SemiBold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  font-size: 25px;
}

#form #submit-button:hover {background-color: #1d2672;}
#form #submit-button:active {background-color: #1d2672;}

.validateInput {
  position: relative;
}

.validateInput.success input {
  border: 2px solid #09c372;
}

.validateInput.error input {
  border: 2px solid #ff3860;
}

.validateInput .error {
  color: #ff3860;
  font-size: 16px;
  height: 13px;
  margin-top: 2px;
}

#displayContainer {
  background-color: rgba(30, 227, 184, 0.246);
  width: 100%;
  margin: auto;
  margin-top: 40px;
  border-radius: 5px;
  padding: 10px;
  font-family: Raleway-SemiBold;
}

#displayContainer p {
  font-size:18px;
  color: black;
}


#displayContainer div {
  margin-bottom: 10px;
}


#displaySection h1,
#displaySection h2,
#displaySection h3,
#displaySection h4,
#displaySection h5,
#displaySection h6 {
  text-decoration:underline;
  margin-bottom: 5px;
}

#displayHeader {
  text-align: center;
}

#displayHeader h3 {
  margin-bottom:16px;
}

p.resultParagraph {
  color: red;
}

@media (max-width: 992px) {
  .wrap {
    padding: 80px 80px 60px;
  }
}
@media (max-width: 768px) {
  .rs1-wrap-input {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .wrap {
    padding: 66px 10px 59px;
  }
}

input[type=date]:disabled {
  background: repeating-linear-gradient(
    135deg,
    rgb(168, 168, 168),
    rgb(168, 168, 168) 10px,
    rgb(188, 188, 188) 10px,
    rgb(188, 188, 188) 20px
  );
  color: transparent;
  opacity: 1;
}

/* Icons */
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
  margin: -1em 0 0 -1em;
}

ul.icons li {
  display: inline-block;
  padding: 1em 0 0 1em;
}

#footer {
  margin-top: 50px;
}

/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.icon > .label {
  display: none;
}

.icon:before {
  line-height: inherit;
}

.icon.solid:before {
  font-weight: 900;
}

.icon.brands:before {
  font-family: "Font Awesome 5 Brands";
}

.icon.style2 {
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  background-color: transparent;
  border: solid 1px #c9c9c9;
  border-radius: 4px;
  width: 2.65em;
  height: 2.65em;
  display: inline-block;
  text-align: center;
  line-height: 2.65em;
  color: inherit;
}

.icon.style2:before {
  font-size: 1.1em;
}

.icon.style2:hover {
  color: rgb(30, 227, 184);
  border-color: rgb(30, 227, 184);
}

.icon.style2:active {
  background-color: rgba(242, 132, 158, 0.1);
}

/* arrow-link-container */
.arrow-link-container {
  width: 200px;
  height: 50px;
  position: relative;
  background-color: dodgerblue;
  border-radius: 5px;
  margin-bottom: 2em;
  margin-right: 1em;
}

.overlay-text {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  /* font-family: "Source Sans Pro", Helvetica, sans-serif; */
  font-weight: 900;
}

.overlay-text p {
  margin: 0;
  color: white !important;
  font-weight: 900;
  font-family: Raleway-SemiBold;
  font-size: 18px;
}

.overlay-cover {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  opacity: 100%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all .5s ease-out;
}

.arrow-link-container.style3 {
  background-color: #30a590;
}
.overlay-cover.style3 {
  background-color: #7bd0c1;
}

.overlay-text div.arrow {
  overflow: hidden;
  max-width: 0px;
  transition: all .5s ease-out;
  padding-top: 10px;
}

.arrow-link-container:hover .overlay-cover {
  width: 0;
  transition: all .3s ease-in;
}

.arrow-link-container:hover .arrow {
  max-width: 200px !important;
  transition: all .3s ease-in;
}

.arrow-links {
  display: flex;
  justify-content: left;
}

.arrow-links a {
  border-bottom: none !important;
}

@media (max-width:500px) {
  .arrow-links {
    flex-direction: column;
  }
  .arrow-link-container {
    width: 100%;
  }  
}
