@font-face {
  font-family: Raleway-Black;
  src: url(../fonts/raleway/Raleway-Black.ttf);
}
@font-face {
  font-family: Raleway-SemiBold;
  src: url(../fonts/raleway/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: Raleway-Bold;
  src: url(../fonts/raleway/Raleway-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364)
}
body,
html {
  height: 100%;
  font-family: Raleway-SemiBold, sans-serif;
}
a {
  font-family: Raleway-SemiBold;
  font-size: 15px;
  line-height: 1.7;
  color: #666;
  margin: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
a:focus {
  outline: none !important;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  font-family: Raleway-SemiBold;
  font-size: 15px;
  line-height: 1.7;
  color: #666;
  margin: 0;
}
ul,
li {
  margin: 0;
  list-style-type: none;
}
input {
  outline: none;
  border: none;
}
textarea {
  outline: none;
  border: none;
}
textarea:focus,
input:focus {
  border-color: transparent !important;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
input::-webkit-input-placeholder {
  color: #adadad;
}
input:-moz-placeholder {
  color: #adadad;
}
input::-moz-placeholder {
  color: #adadad;
}
input:-ms-input-placeholder {
  color: #adadad;
}
textarea::-webkit-input-placeholder {
  color: #adadad;
}
textarea:-moz-placeholder {
  color: #adadad;
}
textarea::-moz-placeholder {
  color: #adadad;
}
textarea:-ms-input-placeholder {
  color: #adadad;
}
button {
  border: none;
  background: 0 0;
}
button:hover {
  cursor: pointer;
}

button:disabled {
  background-color:#adadad !important;
  cursor: not-allowed !important;
}

button.addminus{
  display:block;
  text-align:left;
  width: 100%;
  padding:10px;
  margin-bottom:6px;
  font-family: "Raleway-Bold";
  font-size:16px;
  color: #fff;
  background-color: #000000; /* default to be overridden */
  border:none; 
  border-radius: 5px;
}
button.addminus img{
  width:8%;
  vertical-align: middle;
}
button.addminus strong{
  font-size:large;
}
div.addminus-button-group {
  margin-bottom: 35px;
}

button.add{background-color: #4CAF50}
button.minus{background-color: #fb3b1e}

button.add:hover {background-color: #3e8e41;}
button.add:active {background-color: #3e8e41;}

button.minus:hover {background-color: #c61a09;}
button.minus:active {background-color: #c61a09;}




iframe {
  border: none !important;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.wrap {
  max-width: 960px;
  background: #fff;
  border-radius: 5px;
  padding: 66px 115px 59px;
  position: relative;
}
.form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-title {
  display: block;
  width: 100%;
  font-family: Raleway-Black;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 32px;
}
.form-subtitle {
  display: block;
  width: 100%;
  font-family: Raleway-SemiBold;
  font-size: 18px;
  color: #333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 16px;
}
.form-subsubtitle {
  display: block;
  width: 100%;
  font-family: Raleway-SemiBold;
  font-size: 14px;
  color: #333;
  line-height: 1.2;
  text-align: left;
}
.wrap-input {
  width: 100%;
  position: relative;
  background-color: transparent;
  margin-bottom: 35px;
}
.rs1-wrap-input {
  width: calc((100% - 30px) / 2);
}
.label-input {
  font-family: Raleway-SemiBold;
  font-size: 15px;
  color: #555;
  line-height: 1.5;
}
.input {
  display: block;
  width: 100%;
  background: #f2f2f2;
  border-radius: 5px;
  font-family: Raleway-SemiBold;
  font-size: 20px;
  color: #686868;
  line-height: 1.2;
  padding: 0 28px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  margin-top: 10px;
}
input.input {
  height: 62px;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox-label {
  cursor: pointer;
}

.flex-checkbox {
  display: flex;
}

textarea.input {
  min-height: 162px;
  padding-top: 19px;
  padding-bottom: 13px;
}
.input:focus {
  background: #e6e6e6;
}
.container-form-button {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}
.wrap-form-button {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
}
.form-button-background {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #df2351;
  background: -webkit-linear-gradient(
    right,
    #2f91ff,
    #00c513,
    #2f91ff,
    #00c513
  );
  background: -o-linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
  background: -moz-linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
  background: linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.form-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 62px;
  font-family: Raleway-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  font-size: 25px;
}
.wrap-form-button:hover .form-button-background {
  left: 0;
}
#form #submitsection {
  width:100%;
  text-align:center;
}
#form #submit-button {
  padding: 10px;
  width: 50%;
  color: white;
  background-color: #2939c2;
  border: none;
  border-radius: 5px;

  padding: 0 20px;
  min-width: 150px;
  height: 62px;
  font-family: Raleway-SemiBold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  font-size: 25px;
}

#form #submit-button:hover {background-color: #1d2672;}
#form #submit-button:active {background-color: #1d2672;}

.validateInput {
  position: relative;
}

.validateInput.success input {
  border: 2px solid #09c372;
}

.validateInput.error input {
  border: 2px solid #ff3860;
}

.validateInput .error {
  color: #ff3860;
  font-size: 15px;
  height: 13px;
  margin-top: 2px;
}

#displayContainer {
  background-color: rgba(30, 227, 184, 0.246);
  width: 100%;
  margin: auto;
  margin-top: 40px;
  border-radius: 5px;
  padding: 10px
}

#displayContainer p {
  font-family: Raleway-SemiBold;
  font-size:20px;
  color: black;
  margin: 5px;
}

p.resultParagraph {
  color: red;
}

@media (max-width: 992px) {
  .wrap {
    padding: 80px 80px 60px;
  }
}
@media (max-width: 768px) {
  .rs1-wrap-input {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .wrap {
    padding: 66px 15px 59px;
  }
}

input[type=date]:disabled {
  background: repeating-linear-gradient(
    135deg,
    rgb(168, 168, 168),
    rgb(168, 168, 168) 10px,
    rgb(188, 188, 188) 10px,
    rgb(188, 188, 188) 20px
  );
  color: transparent;
  opacity: 1;
}
